{% extends 'tiendaApp/base.html' %}

{% load static %}

{% block content %}
<h1 style="margin:auto;text-align:center;color:white; ">Servicios</h1>

    {% for servicio in servicios %}


    <section class="page-section clearfix">
        <div class="container">
          <div class="intro" style="text-align:center;">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src={{servicio.imagen.url}} alt="" style="width:300px; height:300px; margin:auto; ">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="width:300px; height:300px; margin:auto;">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{ servicio.titulo }}</span>
                <span class="section-heading-upper">{{ servicio.contenido }}</span>
              </h2>
              
              </p>
             
            </div>
          </div>
        </div>
    </section>

    {% endfor %}



{% endblock %}